In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('small_reut.csv')

In [5]:
df = pd.read_csv('~/YandexDisk/educ/diploma/custom_data/Feature_Engineering/for_cloud.csv')

In [9]:
df.head()

                                              title1
0  ['ideeli', 'announces', 'official', 'sponsorsh...
1  ['brief', 'dht', 'holdings', 'reports', 'adjus...
2  ['cbot', 'estimated', 'futures', 'options', 'v...
3  ['orovero', 'appoints', 'hutchins', 'advisory'...
4  ['arrayit', 'corporation', 'receives', 'regist...